@model EventManager.Models.Event

<h2>Edit Event</h2>

<form asp-action="Edit" class="w-50">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Location</label>
        <input asp-for="Location" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Date</label>
        <input asp-for="Date" type="date" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Ticket Price</label>
        <input asp-for="TicketPrice" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Available Seats</label>
        <input asp-for="AvailableSeats" class="form-control" />
    </div>

    <button type="submit" class="btn btn-warning">Update</button>
</form>